@use "destyle.css"

html
	font-family: 'Plus Jakarta Sans', sans-serif
	visibility: hidden
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	&.wf-inactive,
	&.wf-active
		visibility: visible
