// screen size
$tablet: 768px
$desktop: 1440px

// webp is available or not
$webpClassName: ".is-webp"
$noWebpClassName: ".is-no-webp"

// z-index
$z-index-list: ("header")

// color
$dark-blue: #13183f
$pinkish-orange: #ff6f48
$gray: #83869a
$white: #fff
$pink: #f74780
$pale-gray: #f0f1ff
$lightish-blue: #4851ff
$darkish-pink: #f02aa6
