// screen size
$pad: 750px

// webp is available or not
$webpClassName: ".is-webp"
$noWebpClassName: ".is-no-webp"

// z-index
$z-index-list: ()

// color
$dark-blue: #13183f
$pinkish-orange: #ff6f48
$grey: #83869a
$white: #fff
$pink: #f74780
$pale-grey: #f0f1ff
$lightish-blue: #4851ff
$darkish-pink: #f02aa6
