doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="Our modern courses across a range of in-demand skills will give you the knowledge you need to live the life you want.")
		include ./include/ogp
		link(rel="icon" href="./assets/img/favicon.svg" type="image/svg+xml")
		title Skilled e-learning landing page
	body
		include ./include/header
		main.home-main
			include ./include/hero
			include ./include/courses
		include ./include/footer
		script(type='module' src='/assets/js/main.js')
