doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="Skilled e-learning landing page")
		link(rel="icon" href="./assets/img/favicon.svg" type="image/svg+xml")
		title Skilled e-learning landing page
	body
		p hello world
		script(type='module' src='/assets/js/main.js')
