footer.footer
	.footer__content
		a.footer__logo(href="/" aria-label="UMWELT")
		a.footer__btn.btn--tertiary(href="#")
			span.btn--tertiary-bg
			span.btn--tertiary-bg-hover
			span.btn--tertiary-bg-body Get Started
