header.header
	.header__content
		a.header__heading(href="/")
			h1.header__heading-body(role="heading" aria-label="skilled" aria-level="1" data-gsap-header-heading)
			span.header__heading-border(data-gsap-header-heading-border)
		a.header__btn.btn--primary(href='#' data-gsap-header-heading-btn)
			span.btn--primary-bg
			span.btn--primary-bg-hover
			span.btn--primary-body Get Started
