section.home-hero
	.home-hero__content
		.home-hero__text
			h2.home-hero__ttl(data-gsap-hero-ttl)
				p.home-hero__ttl-body(data-gsap-hero-ttl-body)
					| Maximize
					| &nbsp;
					| skill,
				p.home-hero__ttl-body(data-gsap-hero-ttl-body)
					| minimize
					| &nbsp;
					| budget
			p.home-hero__description(data-gsap-hero-desc)
				| Our modern courses across a range of in-demand skills will give you the knowledge you need to live the life you want.
			a.home-hero__btn.btn--secondary(href="#" data-gsap-hero-btn)
				span.btn--secondary-bg
				span.btn--secondary-bg-hover
				span.btn--secondary-body Get Started
		.home-hero__img
			figure.home-hero__img-lady(data-gsap-hero-img)
				picture
					source(media="(max-width:767px)" srcset="/assets/img/img_hero_lady_mobile.webp" type="image/webp")
					source(media="(min-width:768px)" srcset="/assets/img/img_hero_lady_desktop.webp" type="image/webp")
					source(media="(max-width:767px)" srcset="/assets/img/img_hero_lady_mobile.png" type="image/png")
					source(media="(min-width:768px)" srcset="/assets/img/img_hero_lady_desktop.png" type="image/png")
					img.home-hero__img-lady-body(src="/assets/img/img_hero_lady_mobile.png" alt="lady drinking coffee image")
			span.home-hero__img-rect(role="img" aria-label="rect")
				span.home-hero__img-rect-overlay(data-gsap-hero-rect-overlay)
			dl.home-hero__img-list.is-hours(data-gsap-hero-hours)
				dt.home-hero__img-list-ttl Course hours
				dd.home-hero__img-list-data(data-hours-value) 1,451
			dl.home-hero__img-list.is-members(data-gsap-hero-members)
				dt.home-hero__img-list-ttl Members
				dd.home-hero__img-list-data(data-members-value) 29k
