meta(property="og:title" content="Skilled e-learning landing page")
meta(property="og:description" content="Our modern courses across a range of in-demand skills will give you the knowledge you need to live the life you want.")
meta(property="og:url" content="https://skilled-e-learning-landing-page-sigma.vercel.app/")
meta(property="og:image" content="https://skilled-e-learning-landing-page-sigma.vercel.app/ogp/img_ogp.webp")
meta(property="og:type" content="website")
meta(property="og:site_name" content="Skilled e-learning landing page")
meta(name="witter:card" content="summary_large_image")
meta(name="twitter:site" content="@h_o_k_u_t_o")
